TextFile          = C:\tmp\00_COPS_Intents\F8_KOMMENTAR_INTENT09_SL_20SEP21\data\F8_KOMMENTAR_INTENT09_SL_20SEP21_V1_Sentences.csv
RowIDColumnName   =
TextColumnName    = sentence
KeyFile           = C:\tmp\00_COPS_Intents\F8_KOMMENTAR_INTENT09_SL_20SEP21\Keys\DSL.csv
OutputDir         = C:\tmp\00_COPS_Intents\F8_KOMMENTAR_INTENT09_SL_20SEP21\Topics\DSL\
WordPairFrequency = false
RegexMask         = [^a-zA-Z0-9-äüöÄÜÖß_#!]+
